<center><h1>v0.19.1 (November 3, 2016)</h1></center>
## 新特性：提升性能和修复bug

In [4]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

u'0.18.0'

In [ ]:
#更新Python包
conda update pandas

## 常见问题
* DataFrame内存使用问题
* 字节排序问题
* 使用qt可视化数据

In [5]:
dtypes = ['int64', 'float64', 'datetime64[ns]', 'timedelta64[ns]','complex128', 'object', 'bool']
n = 5000
data = dict([(t, np.random.randint(100,size=n).astype(t)) for t in dtypes])
df = pd.DataFrame(data)
df['categotical'] = df['object'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
bool               5000 non-null bool
complex128         5000 non-null complex128
datetime64[ns]     5000 non-null datetime64[ns]
float64            5000 non-null float64
int64              5000 non-null int64
object             5000 non-null object
timedelta64[ns]    5000 non-null timedelta64[ns]
categotical        5000 non-null category
dtypes: bool(1), category(1), complex128(1), datetime64[ns](1), float64(1), int64(1), object(1), timedelta64[ns](1)
memory usage: 284.1+ KB

In [6]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
bool               5000 non-null bool
complex128         5000 non-null complex128
datetime64[ns]     5000 non-null datetime64[ns]
float64            5000 non-null float64
int64              5000 non-null int64
object             5000 non-null object
timedelta64[ns]    5000 non-null timedelta64[ns]
categotical        5000 non-null category
dtypes: bool(1), category(1), complex128(1), datetime64[ns](1), float64(1), int64(1), object(1), timedelta64[ns](1)
memory usage: 401.2 KB

In [7]:
# 查看各列的内存使用情况
df.memory_usage()

Index                 72
bool                5000
complex128         80000
datetime64[ns]     40000
float64            40000
int64              40000
object             40000
timedelta64[ns]    40000
categotical         5800
dtype: int64

### 数据的可视化qt: pandas_qt/easyGUI

In [1]:
import easygui
easygui.ynbox('Shall I continue?', 'Title', ('Yes', 'No'))

# easygui.msgbox('This is a basic message box.', 'Title Goes Here')

# easygui.buttonbox('Click on your favorite flavor.', 'Favorite Flavor', ('Chocolate', 'Vanilla', 'Strawberry'))

True

## 包概览

pandas支持Series、DataFrame和Panel

Dataframe是Series的容器、Panel是DataFrame的容器

## 十分钟速学pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 创建对象

In [2]:
#创建series
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
#创建DataFrame
dates = pd.date_range('20161218',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2016-12-18 -0.149177 -0.109215 -1.151728 -1.497649
2016-12-19 -0.620946  0.199328  0.311788 -0.573888
2016-12-20 -1.787090  0.845447 -0.626611  0.243040
2016-12-21 -0.943308  0.140361  1.354535  1.807179
2016-12-22 -0.061021  0.535128  1.001680  0.467090
2016-12-23  2.425320 -0.809150 -0.122879  0.506795

In [8]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),                      
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### 查看数据

In [ ]:
http://pandas.pydata.org/pandas-docs/stable/overview.html