<center><h1>v0.19.1 (November 3, 2016)</h1></center>
## 新特性：提升性能和修复bug

In [6]:
import pandas as pd
import numpy as np

In [7]:
pd.__version__

u'0.19.1'

In [8]:
#更新Python包
# conda update pandas

## 常见问题
* DataFrame内存使用问题
* 字节排序问题
* 使用qt可视化数据

In [9]:
dtypes = ['int64', 'float64', 'datetime64[ns]', 'timedelta64[ns]','complex128', 'object', 'bool']
n = 5000
data = dict([(t, np.random.randint(100,size=n).astype(t)) for t in dtypes])
df = pd.DataFrame(data)
df['categotical'] = df['object'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
bool               5000 non-null bool
complex128         5000 non-null complex128
datetime64[ns]     5000 non-null datetime64[ns]
float64            5000 non-null float64
int64              5000 non-null int64
object             5000 non-null object
timedelta64[ns]    5000 non-null timedelta64[ns]
categotical        5000 non-null category
dtypes: bool(1), category(1), complex128(1), datetime64[ns](1), float64(1), int64(1), object(1), timedelta64[ns](1)
memory usage: 284.1+ KB

In [10]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
bool               5000 non-null bool
complex128         5000 non-null complex128
datetime64[ns]     5000 non-null datetime64[ns]
float64            5000 non-null float64
int64              5000 non-null int64
object             5000 non-null object
timedelta64[ns]    5000 non-null timedelta64[ns]
categotical        5000 non-null category
dtypes: bool(1), category(1), complex128(1), datetime64[ns](1), float64(1), int64(1), object(1), timedelta64[ns](1)
memory usage: 401.2 KB

In [11]:
# 查看各列的内存使用情况
df.memory_usage()

Index                 72
bool                5000
complex128         80000
datetime64[ns]     40000
float64            40000
int64              40000
object             40000
timedelta64[ns]    40000
categotical         5800
dtype: int64

### 数据的可视化qt: pandas_qt/easyGUI

In [12]:
import easygui
easygui.ynbox('Shall I continue?', 'Title', ('Yes', 'No'))

# easygui.msgbox('This is a basic message box.', 'Title Goes Here')

# easygui.buttonbox('Click on your favorite flavor.', 'Favorite Flavor', ('Chocolate', 'Vanilla', 'Strawberry'))

True

## 包概览

pandas支持Series、DataFrame和Panel

Dataframe是Series的容器、Panel是DataFrame的容器

## 十分钟速学pandas

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 创建对象

In [14]:
#创建series
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
#创建DataFrame
dates = pd.date_range('20161218',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2016-12-18  0.905467  0.726887  0.231299 -1.261442
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677
2016-12-20  0.098073 -1.755892  0.652470  2.736317
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272
2016-12-23 -0.197813 -0.581270  0.464847  1.067717

In [16]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),                      
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### 查看数据

In [18]:
#查看前几行和后几行
df.head()

                   A         B         C         D
2016-12-18  0.905467  0.726887  0.231299 -1.261442
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677
2016-12-20  0.098073 -1.755892  0.652470  2.736317
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272

In [20]:
df.tail(3)

                   A         B         C         D
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272
2016-12-23 -0.197813 -0.581270  0.464847  1.067717

In [21]:
# 查看索引、列、值
df.index

DatetimeIndex(['2016-12-18', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [23]:
df.values

array([[ 0.90546727,  0.72688702,  0.2312991 , -1.26144153],
       [-0.27544277, -0.93503105, -0.20159133,  0.70167673],
       [ 0.09807291, -1.75589233,  0.65247036,  2.73631708],
       [ 0.31615464, -1.3513168 , -0.62919322, -0.11659485],
       [-0.36068951,  0.54161989, -1.75140105, -0.96727249],
       [-0.19781307, -0.58126973,  0.46484667,  1.06771676]])

In [24]:
#统计描述
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.080958 -0.559167 -0.205595  0.360067
std    0.476490  1.006686  0.888326  1.475287
min   -0.360690 -1.755892 -1.751401 -1.261442
25%   -0.256035 -1.247245 -0.522293 -0.754603
50%   -0.049870 -0.758150  0.014854  0.292541
75%    0.261634  0.260897  0.406460  0.976207
max    0.905467  0.726887  0.652470  2.736317

In [25]:
#转置
df.T

   2016-12-18  2016-12-19  2016-12-20  2016-12-21  2016-12-22  2016-12-23
A    0.905467   -0.275443    0.098073    0.316155   -0.360690   -0.197813
B    0.726887   -0.935031   -1.755892   -1.351317    0.541620   -0.581270
C    0.231299   -0.201591    0.652470   -0.629193   -1.751401    0.464847
D   -1.261442    0.701677    2.736317   -0.116595   -0.967272    1.067717

In [26]:
#按列、值排序
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2016-12-18 -1.261442  0.231299  0.726887  0.905467
2016-12-19  0.701677 -0.201591 -0.935031 -0.275443
2016-12-20  2.736317  0.652470 -1.755892  0.098073
2016-12-21 -0.116595 -0.629193 -1.351317  0.316155
2016-12-22 -0.967272 -1.751401  0.541620 -0.360690
2016-12-23  1.067717  0.464847 -0.581270 -0.197813

In [30]:
#按值排序
df.sort_values(by='A')

                   A         B         C         D
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677
2016-12-23 -0.197813 -0.581270  0.464847  1.067717
2016-12-20  0.098073 -1.755892  0.652470  2.736317
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595
2016-12-18  0.905467  0.726887  0.231299 -1.261442

### 选择

In [31]:
df['A']

2016-12-18    0.905467
2016-12-19   -0.275443
2016-12-20    0.098073
2016-12-21    0.316155
2016-12-22   -0.360690
2016-12-23   -0.197813
Freq: D, Name: A, dtype: float64

In [32]:
df[0:3]

                   A         B         C         D
2016-12-18  0.905467  0.726887  0.231299 -1.261442
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677
2016-12-20  0.098073 -1.755892  0.652470  2.736317

In [33]:
df['20161218':'20161220']

                   A         B         C         D
2016-12-18  0.905467  0.726887  0.231299 -1.261442
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677
2016-12-20  0.098073 -1.755892  0.652470  2.736317

In [35]:
dates[0]
# 按label选
df.loc[dates[0]]

A    0.905467
B    0.726887
C    0.231299
D   -1.261442
Name: 2016-12-18 00:00:00, dtype: float64

In [36]:
df.loc[:, ['A', 'B']]

                   A         B
2016-12-18  0.905467  0.726887
2016-12-19 -0.275443 -0.935031
2016-12-20  0.098073 -1.755892
2016-12-21  0.316155 -1.351317
2016-12-22 -0.360690  0.541620
2016-12-23 -0.197813 -0.581270

In [37]:
df.loc['20161218':'20161220',['A','B']]

                   A         B
2016-12-18  0.905467  0.726887
2016-12-19 -0.275443 -0.935031
2016-12-20  0.098073 -1.755892

In [38]:
df.at[dates[0],'A']

0.90546726623274798

### 布尔索引

In [39]:
df[df.A > 0]

                   A         B         C         D
2016-12-18  0.905467  0.726887  0.231299 -1.261442
2016-12-20  0.098073 -1.755892  0.652470  2.736317
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595

In [40]:
df[df > 0]

                   A         B         C         D
2016-12-18  0.905467  0.726887  0.231299       NaN
2016-12-19       NaN       NaN       NaN  0.701677
2016-12-20  0.098073       NaN  0.652470  2.736317
2016-12-21  0.316155       NaN       NaN       NaN
2016-12-22       NaN  0.541620       NaN       NaN
2016-12-23       NaN       NaN  0.464847  1.067717

In [41]:
# 使用isin()过滤
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2016-12-18  0.905467  0.726887  0.231299 -1.261442    one
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677    one
2016-12-20  0.098073 -1.755892  0.652470  2.736317    two
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595  three
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272   four
2016-12-23 -0.197813 -0.581270  0.464847  1.067717  three

In [43]:
%%time
df2[df2['E'].isin(['two','four'])]

Wall time: 1e+03 µs

                   A         B         C         D     E
2016-12-20  0.098073 -1.755892  0.652470  2.736317   two
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272  four

In [52]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20161218',periods=6))
s1

2016-12-18    1
2016-12-19    2
2016-12-20    3
2016-12-21    4
2016-12-22    5
2016-12-23    6
Freq: D, dtype: int64

In [53]:
df['F'] = s1
df

                   A         B         C         D  F
2016-12-18  0.000000  0.000000  0.231299 -1.261442  1
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677  2
2016-12-20  0.098073 -1.755892  0.652470  2.736317  3
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595  4
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272  5
2016-12-23 -0.197813 -0.581270  0.464847  1.067717  6

In [54]:
# 根据标签修改值
df.at[dates[0],'A'] = 0
df

                   A         B         C         D  F
2016-12-18  0.000000  0.000000  0.231299 -1.261442  1
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677  2
2016-12-20  0.098073 -1.755892  0.652470  2.736317  3
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595  4
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272  5
2016-12-23 -0.197813 -0.581270  0.464847  1.067717  6

In [55]:
# 根据位置修改值
df.iat[0,1] = 0
df

                   A         B         C         D  F
2016-12-18  0.000000  0.000000  0.231299 -1.261442  1
2016-12-19 -0.275443 -0.935031 -0.201591  0.701677  2
2016-12-20  0.098073 -1.755892  0.652470  2.736317  3
2016-12-21  0.316155 -1.351317 -0.629193 -0.116595  4
2016-12-22 -0.360690  0.541620 -1.751401 -0.967272  5
2016-12-23 -0.197813 -0.581270  0.464847  1.067717  6

In [57]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D  F
2016-12-18  0.000000  0.000000  0.231299  5  1
2016-12-19 -0.275443 -0.935031 -0.201591  5  2
2016-12-20  0.098073 -1.755892  0.652470  5  3
2016-12-21  0.316155 -1.351317 -0.629193  5  4
2016-12-22 -0.360690  0.541620 -1.751401  5  5
2016-12-23 -0.197813 -0.581270  0.464847  5  6

In [58]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D  F
2016-12-18  0.000000  0.000000 -0.231299 -5 -1
2016-12-19 -0.275443 -0.935031 -0.201591 -5 -2
2016-12-20 -0.098073 -1.755892 -0.652470 -5 -3
2016-12-21 -0.316155 -1.351317 -0.629193 -5 -4
2016-12-22 -0.360690 -0.541620 -1.751401 -5 -5
2016-12-23 -0.197813 -0.581270 -0.464847 -5 -6

### 缺失值

In [59]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D  F    E
2016-12-18  0.000000  0.000000  0.231299  5  1  1.0
2016-12-19 -0.275443 -0.935031 -0.201591  5  2  1.0
2016-12-20  0.098073 -1.755892  0.652470  5  3  NaN
2016-12-21  0.316155 -1.351317 -0.629193  5  4  NaN

In [60]:
df1.dropna(how='any')

                   A         B         C  D  F    E
2016-12-18  0.000000  0.000000  0.231299  5  1  1.0
2016-12-19 -0.275443 -0.935031 -0.201591  5  2  1.0

In [61]:
df1

                   A         B         C  D  F    E
2016-12-18  0.000000  0.000000  0.231299  5  1  1.0
2016-12-19 -0.275443 -0.935031 -0.201591  5  2  1.0
2016-12-20  0.098073 -1.755892  0.652470  5  3  NaN
2016-12-21  0.316155 -1.351317 -0.629193  5  4  NaN

In [63]:
#缺失值填充
df1.fillna(value=5)

                   A         B         C  D  F    E
2016-12-18  0.000000  0.000000  0.231299  5  1  1.0
2016-12-19 -0.275443 -0.935031 -0.201591  5  2  1.0
2016-12-20  0.098073 -1.755892  0.652470  5  3  5.0
2016-12-21  0.316155 -1.351317 -0.629193  5  4  5.0

In [64]:
# 判断是否为缺失值
pd.isnull(df1)

                A      B      C      D      F      E
2016-12-18  False  False  False  False  False  False
2016-12-19  False  False  False  False  False  False
2016-12-20  False  False  False  False  False   True
2016-12-21  False  False  False  False  False   True

## 操作

In [66]:
# 统计
df.mean()#按列求均值

A   -0.069953
B   -0.680315
C   -0.205595
D    5.000000
F    3.500000
dtype: float64

In [67]:
df.mean(1)#按横轴求均值

2016-12-18    1.246260
2016-12-19    1.117587
2016-12-20    1.398930
2016-12-21    1.467129
2016-12-22    1.685906
2016-12-23    2.137153
Freq: D, dtype: float64

In [68]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2016-12-18    NaN
2016-12-19    NaN
2016-12-20    1.0
2016-12-21    3.0
2016-12-22    5.0
2016-12-23    NaN
Freq: D, dtype: float64

In [69]:
df.sub(s, axis='index')

                   A         B         C    D    F
2016-12-18       NaN       NaN       NaN  NaN  NaN
2016-12-19       NaN       NaN       NaN  NaN  NaN
2016-12-20 -0.901927 -2.755892 -0.347530  4.0  2.0
2016-12-21 -2.683845 -4.351317 -3.629193  2.0  1.0
2016-12-22 -5.360690 -4.458380 -6.751401  0.0  0.0
2016-12-23       NaN       NaN       NaN  NaN  NaN

### Apply

In [70]:
df.apply(np.cumsum)

                   A         B         C   D   F
2016-12-18  0.000000  0.000000  0.231299   5   1
2016-12-19 -0.275443 -0.935031  0.029708  10   3
2016-12-20 -0.177370 -2.690923  0.682178  15   6
2016-12-21  0.138785 -4.042240  0.052985  20  10
2016-12-22 -0.221905 -3.500620 -1.698416  25  15
2016-12-23 -0.419718 -4.081890 -1.233569  30  21

In [72]:
df.apply(lambda x: x.max()-x.min())

A    0.676844
B    2.297512
C    2.403871
D    0.000000
F    5.000000
dtype: float64

### 直方图

In [73]:
s = pd.Series(np.random.randint(0,7, size=10))
s

0    1
1    3
2    1
3    2
4    2
5    1
6    6
7    3
8    4
9    4
dtype: int32

In [74]:
s.value_counts()

1    3
4    2
3    2
2    2
6    1
dtype: int64

### 字符串方法

In [75]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge

In [76]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -0.124476  1.932231 -0.655084 -0.994914
1 -1.244800 -0.136422  0.508562  0.253991
2 -1.694227 -0.347796  0.522086  0.310504
3  0.954835 -0.043389  0.361855 -1.066020
4 -0.020228 -1.153833 -1.433697  0.460062
5 -1.470585  0.768873  0.095500 -0.084362
6  0.142769 -1.793267  0.933985  0.821671
7  0.944840 -0.647658  0.354811  0.029253
8  1.445511  0.531496  1.567952 -0.249491
9  0.279347 -0.207916  0.192195 -0.026013

In [77]:
df[:3]#前三行

          0         1         2         3
0 -0.124476  1.932231 -0.655084 -0.994914
1 -1.244800 -0.136422  0.508562  0.253991
2 -1.694227 -0.347796  0.522086  0.310504

In [78]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.124476  1.932231 -0.655084 -0.994914
 1 -1.244800 -0.136422  0.508562  0.253991
 2 -1.694227 -0.347796  0.522086  0.310504,
           0         1         2         3
 3  0.954835 -0.043389  0.361855 -1.066020
 4 -0.020228 -1.153833 -1.433697  0.460062
 5 -1.470585  0.768873  0.095500 -0.084362
 6  0.142769 -1.793267  0.933985  0.821671,
           0         1         2         3
 7  0.944840 -0.647658  0.354811  0.029253
 8  1.445511  0.531496  1.567952 -0.249491
 9  0.279347 -0.207916  0.192195 -0.026013]

In [79]:
pd.concat(pieces)# concat拼接 按行加

          0         1         2         3
0 -0.124476  1.932231 -0.655084 -0.994914
1 -1.244800 -0.136422  0.508562  0.253991
2 -1.694227 -0.347796  0.522086  0.310504
3  0.954835 -0.043389  0.361855 -1.066020
4 -0.020228 -1.153833 -1.433697  0.460062
5 -1.470585  0.768873  0.095500 -0.084362
6  0.142769 -1.793267  0.933985  0.821671
7  0.944840 -0.647658  0.354811  0.029253
8  1.445511  0.531496  1.567952 -0.249491
9  0.279347 -0.207916  0.192195 -0.026013

### join

In [80]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1,2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [81]:
left = pd.DataFrame({'key':['foo', 'bar'], 'lval':[1,2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

###  append

In [82]:
df = pd.DataFrame(np.random.randn(8,4), columns=list('ABCD'))
df

          A         B         C         D
0 -1.244313  0.487037  0.813655  1.548241
1 -1.073009  0.389993 -0.804088  0.748901
2 -1.679539  0.435586  0.112779  0.837882
3 -0.297352  0.388375  0.555010  0.459818
4 -0.190298  0.280373  0.477889  1.423645
5  0.746571 -0.776692 -1.231798 -0.313188
6  0.638461 -1.602918  0.469786 -0.267037
7  1.259509 -2.007323  0.186262 -0.531230

In [86]:
s = df.iloc[3]#第四行

t = df.iloc[:,3] #第四列

In [87]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -1.244313  0.487037  0.813655  1.548241
1 -1.073009  0.389993 -0.804088  0.748901
2 -1.679539  0.435586  0.112779  0.837882
3 -0.297352  0.388375  0.555010  0.459818
4 -0.190298  0.280373  0.477889  1.423645
5  0.746571 -0.776692 -1.231798 -0.313188
6  0.638461 -1.602918  0.469786 -0.267037
7  1.259509 -2.007323  0.186262 -0.531230
8 -0.297352  0.388375  0.555010  0.459818

### Grouping聚合

In [88]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -0.259827  0.608252
1  bar    one  0.397497 -0.880844
2  foo    two  1.685502  2.267696
3  bar  three  1.059339  1.298087
4  foo    two  0.811070  0.391070
5  bar    two -1.322046  1.222570
6  foo    one  1.591796  0.420410
7  foo  three -0.958073  0.610151

In [89]:
df.groupby('A').sum() #聚合求和

            C         D
A
bar  0.134790  1.639813
foo  2.870467  4.297580

### Reshape

In [92]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [93]:
index = pd.MultiIndex.from_tuples(tuples,names=['first','second'])
index

MultiIndex(levels=[[u'bar', u'baz', u'foo', u'qux'], [u'one', u'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=[u'first', u'second'])

In [94]:
df = pd.DataFrame(np.random.randn(8,2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one    -1.385926  1.133564
      two     0.129725  0.763149
baz   one     0.659805  0.051334
      two     0.548517 -0.289576
foo   one     0.617839 -1.234820
      two    -0.772116 -0.463556
qux   one    -0.253618 -0.119805
      two    -0.393647  0.497282

In [96]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -1.385926  1.133564
      two     0.129725  0.763149
baz   one     0.659805  0.051334
      two     0.548517 -0.289576

### stack()

In [97]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -1.385926
               B    1.133564
       two     A    0.129725
               B    0.763149
baz    one     A    0.659805
               B    0.051334
       two     A    0.548517
               B   -0.289576
dtype: float64

In [98]:
stacked.unstack()

                     A         B
first second
bar   one    -1.385926  1.133564
      two     0.129725  0.763149
baz   one     0.659805  0.051334
      two     0.548517 -0.289576

In [99]:
stacked.unstack(1)#默认 last level最后一层

second        one       two
first
bar   A -1.385926  0.129725
      B  1.133564  0.763149
baz   A  0.659805  0.548517
      B  0.051334 -0.289576

In [100]:
stacked.unstack(0)

first          bar       baz
second
one    A -1.385926  0.659805
       B  1.133564  0.051334
two    A  0.129725  0.548517
       B  0.763149 -0.289576

In [101]:
stacked.unstack(2)

                     A         B
first second
bar   one    -1.385926  1.133564
      two     0.129725  0.763149
baz   one     0.659805  0.051334
      two     0.548517 -0.289576

### Pivot Tables

In [103]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.692101  3.116228
1     one  B  foo  0.522442  0.793411
2     two  C  foo -0.010115  0.646898
3   three  A  bar -0.234154  0.840045
4     one  B  bar  1.399747  0.935003
5     one  C  bar  2.274388 -1.720243
6     two  A  foo -0.676459 -0.218054
7   three  B  foo -0.285357  0.431224
8     one  C  foo -0.049628 -0.638344
9     one  A  bar -0.679162  0.688089
10    two  B  bar -0.303621  0.829610
11  three  C  bar -1.383368 -2.235058

In [104]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -0.679162 -0.692101
      B  1.399747  0.522442
      C  2.274388 -0.049628
three A -0.234154       NaN
      B       NaN -0.285357
      C -1.383368       NaN
two   A       NaN -0.676459
      B -0.303621       NaN
      C       NaN -0.010115

## 时间序列

In [105]:
rng = pd.date_range('20160101', periods=100, freq='S')#以1s为步长，取100个时间
rng

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 00:00:01',
               '2016-01-01 00:00:02', '2016-01-01 00:00:03',
               '2016-01-01 00:00:04', '2016-01-01 00:00:05',
               '2016-01-01 00:00:06', '2016-01-01 00:00:07',
               '2016-01-01 00:00:08', '2016-01-01 00:00:09',
               '2016-01-01 00:00:10', '2016-01-01 00:00:11',
               '2016-01-01 00:00:12', '2016-01-01 00:00:13',
               '2016-01-01 00:00:14', '2016-01-01 00:00:15',
               '2016-01-01 00:00:16', '2016-01-01 00:00:17',
               '2016-01-01 00:00:18', '2016-01-01 00:00:19',
               '2016-01-01 00:00:20', '2016-01-01 00:00:21',
               '2016-01-01 00:00:22', '2016-01-01 00:00:23',
               '2016-01-01 00:00:24', '2016-01-01 00:00:25',
               '2016-01-01 00:00:26', '2016-01-01 00:00:27',
               '2016-01-01 00:00:28', '2016-01-01 00:00:29',
               '2016-01-01 00:00:30', '2016-01-01 00:00:31',
               '2016-01-01 00:00:32', '2016-01-01 00:00:33',
               '2016-01-01 00:00:34', '2016-01-01 00:00:35',
               '2016-01-01 00:00:36', '2016-01-01 00:00:37',
               '2016-01-01 00:00:38', '2016-01-01 00:00:39',
               '2016-01-01 00:00:40', '2016-01-01 00:00:41',
               '2016-01-01 00:00:42', '2016-01-01 00:00:43',
               '2016-01-01 00:00:44', '2016-01-01 00:00:45',
               '2016-01-01 00:00:46', '2016-01-01 00:00:47',
               '2016-01-01 00:00:48', '2016-01-01 00:00:49',
               '2016-01-01 00:00:50', '2016-01-01 00:00:51',
               '2016-01-01 00:00:52', '2016-01-01 00:00:53',
               '2016-01-01 00:00:54', '2016-01-01 00:00:55',
               '2016-01-01 00:00:56', '2016-01-01 00:00:57',
               '2016-01-01 00:00:58', '2016-01-01 00:00:59',
               '2016-01-01 00:01:00', '2016-01-01 00:01:01',
               '2016-01-01 00:01:02', '2016-01-01 00:01:03',
               '2016-01-01 00:01:04', '2016-01-01 00:01:05',
               '2016-01-01 00:01:06', '2016-01-01 00:01:07',
               '2016-01-01 00:01:08', '2016-01-01 00:01:09',
               '2016-01-01 00:01:10', '2016-01-01 00:01:11',
               '2016-01-01 00:01:12', '2016-01-01 00:01:13',
               '2016-01-01 00:01:14', '2016-01-01 00:01:15',
               '2016-01-01 00:01:16', '2016-01-01 00:01:17',
               '2016-01-01 00:01:18', '2016-01-01 00:01:19',
               '2016-01-01 00:01:20', '2016-01-01 00:01:21',
               '2016-01-01 00:01:22', '2016-01-01 00:01:23',
               '2016-01-01 00:01:24', '2016-01-01 00:01:25',
               '2016-01-01 00:01:26', '2016-01-01 00:01:27',
               '2016-01-01 00:01:28', '2016-01-01 00:01:29',
               '2016-01-01 00:01:30', '2016-01-01 00:01:31',
               '2016-01-01 00:01:32', '2016-01-01 00:01:33',
               '2016-01-01 00:01:34', '2016-01-01 00:01:35',
               '2016-01-01 00:01:36', '2016-01-01 00:01:37',
               '2016-01-01 00:01:38', '2016-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [107]:
ts = pd.Series(np.random.randint(0,500,len(rng)), index=rng)
ts

2016-01-01 00:00:00    494
2016-01-01 00:00:01    101
2016-01-01 00:00:02    416
2016-01-01 00:00:03    450
2016-01-01 00:00:04    318
2016-01-01 00:00:05    362
2016-01-01 00:00:06    256
2016-01-01 00:00:07      0
2016-01-01 00:00:08    157
2016-01-01 00:00:09    245
2016-01-01 00:00:10    231
2016-01-01 00:00:11    353
2016-01-01 00:00:12    128
2016-01-01 00:00:13    233
2016-01-01 00:00:14    245
2016-01-01 00:00:15    326
2016-01-01 00:00:16    351
2016-01-01 00:00:17    445
2016-01-01 00:00:18    324
2016-01-01 00:00:19    404
2016-01-01 00:00:20     92
2016-01-01 00:00:21    205
2016-01-01 00:00:22    229
2016-01-01 00:00:23    134
2016-01-01 00:00:24    485
2016-01-01 00:00:25    119
2016-01-01 00:00:26    379
2016-01-01 00:00:27    151
2016-01-01 00:00:28    160
2016-01-01 00:00:29    379
                      ...
2016-01-01 00:01:10    424
2016-01-01 00:01:11    223
2016-01-01 00:01:12    170
2016-01-01 00:01:13    119
2016-01-01 00:01:14    283
2016-01-01 00:01:15    252
2016-01-01 00:01:16    192
2016-01-01 00:01:17    448
2016-01-01 00:01:18    363
2016-01-01 00:01:19    362
2016-01-01 00:01:20    417
2016-01-01 00:01:21     28
2016-01-01 00:01:22    205
2016-01-01 00:01:23    431
2016-01-01 00:01:24    473
2016-01-01 00:01:25    319
2016-01-01 00:01:26     87
2016-01-01 00:01:27    157
2016-01-01 00:01:28    393
2016-01-01 00:01:29     40
2016-01-01 00:01:30    415
2016-01-01 00:01:31    127
2016-01-01 00:01:32     28
2016-01-01 00:01:33     45
2016-01-01 00:01:34     88
2016-01-01 00:01:35    134
2016-01-01 00:01:36    368
2016-01-01 00:01:37      1
2016-01-01 00:01:38    110
2016-01-01 00:01:39    436
Freq: S, dtype: int32

In [112]:
ts.resample?

In [108]:
ts.resample('5Min').sum()

2016-01-01    24342
Freq: 5T, dtype: int32

In [113]:
rng = pd.date_range('20161201 00:00', periods=5, freq='D')
rng

DatetimeIndex(['2016-12-01', '2016-12-02', '2016-12-03', '2016-12-04',
               '2016-12-05'],
              dtype='datetime64[ns]', freq='D')

In [114]:
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

2016-12-01   -1.445692
2016-12-02   -2.282532
2016-12-03    0.411475
2016-12-04   -0.902594
2016-12-05   -0.609815
Freq: D, dtype: float64

In [115]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2016-12-01 00:00:00+00:00   -1.445692
2016-12-02 00:00:00+00:00   -2.282532
2016-12-03 00:00:00+00:00    0.411475
2016-12-04 00:00:00+00:00   -0.902594
2016-12-05 00:00:00+00:00   -0.609815
Freq: D, dtype: float64

In [116]:
#改变为其他时区
ts_utc.tz_convert('US/Eastern')

2016-11-30 19:00:00-05:00   -1.445692
2016-12-01 19:00:00-05:00   -2.282532
2016-12-02 19:00:00-05:00    0.411475
2016-12-03 19:00:00-05:00   -0.902594
2016-12-04 19:00:00-05:00   -0.609815
Freq: D, dtype: float64

In [117]:
ts.to_period?

In [118]:
png = pd.period_range('1990Q1','2000Q4', freq='Q-NOV')
png

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-NOV]', freq='Q-NOV')

In [119]:
ts = pd.Series(np.random.randn(len(png)), png)
ts.index = (png.asfreq('M', 'e')+1).asfreq('H', 's')+9

In [120]:
ts.head()

1990-03-01 09:00   -0.533135
1990-06-01 09:00   -1.555253
1990-09-01 09:00    0.200784
1990-12-01 09:00   -1.076143
1991-03-01 09:00    0.871497
Freq: H, dtype: float64

## Categoricals类型

http://pandas.pydata.org/pandas-docs/stable/overview.html